@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border:0;
}
.wrapper{
    min-height: 100%;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
}
._container{
    max-width: 1159px;
    margin: 0px auto;
width: 100%;
}
body{
    font-family: "Roboto", sans-serif;
}

a{text-decoration: none;}

ul,
li{
    list-style: none;
}
img{
    vertical-align: top;
}
.navigator li, a {
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 22,4px;
}

header{
    display:flex;
    align-items: center;
    height: 80px;
    background-color: #000000;
    margin: 0 auto;
}
nav{
    margin: 0 auto;
}

.logo{
    position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19.0145px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    padding: 2.5px 4.25px 1.5px 4.25px;
    border: 1.18841px solid #FFFFFF;
border-radius: 2px;
background-image: url(bamboo.png);
background-repeat: no-repeat;
background-position: 0.6rem 1.5rem;
margin-top: 13px;
}

#active{
    -webkit-background-clip:  text!important;
    -webkit-text-fill-color: transparent;
    background:linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);

}
#active{
    margin-left: 78px;
}
.navigator li {
    display: inline;
    float:left;
    padding: 29px 0 29px 58px;
}
#last{
padding-left:438px;
}

.navigator li a:hover{
    -webkit-background-clip:  text!important;
    -webkit-text-fill-color: transparent;
    background:linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%)
}
.Watch-your-animal{width: 100%;
    min-height: 700px;
    background-image: url(GiantPanda.jpg);
    background-size:cover;
    background-attachment:scroll;

}
#circle{
    position: absolute;
width: 465px;
height: 465px;
left: calc(50% - 465px/2 + 239.5px);
top: 92px;
background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
border-radius: 50%;
}
#phrase{
    position: absolute;
width: 500.31px;
height: 400px;
left: calc(50% - 500.31px/2 + 330.15px);
top: 166px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 106.496px;
line-height: 75%;
text-align: center;
text-transform: uppercase;

color: #FFFFFF;
}
.yellow{
    color:
    #FFEE2E;
}
.my_button{
    position: absolute;
width: 298px;
height: 54px;
left: calc(50% - 298px/2 + 332px);
top: 626px;
background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
border-radius: 25px;
cursor: pointer;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
}
.my_button:hover{
    background:  #E47209;
}
.my_button:active{
    background:  #4B9200;
}
.left{
  height: 403px;
  width: 609px;
}
.Backstage{
    display: grid;
    grid-template-columns: 696px 1fr;
    padding-top: 140px;
    margin-bottom: 180px;
}
.flower{
  position: absolute;
  top: 50rem;
  margin-left: 38rem;
  width: 293px;
  height: 605px;
  background: url(flower_foto1.png);
  background-repeat: no-repeat;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
h2{

height: 116px;
left: 696px;
right: 0px;
top: 0px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 58px;
color: #333B41;
}
#first_p{
height: 42px;
left: 696px;
right: 0px;
top: 136px;
padding-top: 20px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
color: #333B41;
}
h4{padding-top: 74px;
top: 232px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
color: #333B41;
}
#second_p{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
color: #333B41;
padding-top:34px

}
.Pets{
    display: grid;
    grid-template-columns: repeat(3, 366px);
    padding-bottom: 234px;
    grid-template-rows: repeat(2, 426px);
    column-gap: 30px;
    row-gap: 20px;


}
.Pets img{width: 363.9px;
    height: 366px;
   border-top-left-radius: 4px;
   border-top-right-radius: 4px;
   padding-bottom: 8px;

}

.rectangles{
    width: 294px;
height: 22px;
left: 16px;
top: 374px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 22px;
text-transform: uppercase;
color: #000000;
padding-left: 16px;

}
.Pets p{
font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 18px;
color: #000000;
padding-bottom: 14px;
  border: 1px solid;
border-color: #FA6F32;
border-radius: 5px;
}
.text_down{
    padding-left: 16px;
}
.rec{
    background-image: url(banana-bamboo_icon.png);
    background-repeat: no-repeat;
    background-position: 20rem 23rem;
}
.rec2{
    background-image: url(banana-bamboo_icon.png);
    background-repeat: no-repeat;
    background-position: 20rem 23rem;
}
.rec1{
    background-image: url(meet-fish_icon.png);
    background-repeat: no-repeat;
    background-position: 19.2rem 23rem;
}
.my_button1{
    position: absolute;
width: 298px;
height: 54px;
left: calc(50% - 298px/2);
top: 2455px;
background: #FE9013;
border-radius: 25px;
    border-radius: 25px;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    font-style: normal;
}

.my_button1:hover{
    background:
    #E47209
}
.my_button1:active{
    background:  #4B9200;
}


.scale:hover{
    transform: scale(1.02);
    transition: 0.5s;
}

.rec{
    overflow: hidden;
}
.rec2{
    overflow: hidden;
}
.rec1{
    overflow: hidden;
}
.flower1{ position: absolute;
    top: 135rem;
    margin-left: -22rem;
    position: absolute;
  width: 292px;
  height: 460px;
    background: url(palm_foto.png);
    background-repeat: no-repeat;


}
.flower2{ position: absolute;
    top: 145rem;
    margin-left: 75rem;
    position: absolute;
  width: 292px;
  height: 460px;
    background: url(strelitzia.png);
    background-repeat: no-repeat;
    ;

}
.circle_l{
    width: 62px;
    height: 62px;
    border-radius: 50%;
    position: absolute;
    left: 17rem;
top: 119rem;
background: #FE9013;
}
.circle_r{
    width: 62px;
    height: 62px;
    border-radius: 50%;
    position: absolute;
    left: 96rem;
top: 119rem;
background: #FE9013;
}
.circle_l:hover{
    background:
    #E47209
}

.circle_l:active{
    background:  #4B9200;
}
.circle_r:hover{
    background:
    #E47209
}
.circle_r:active{
    background:  #4B9200;
}
.circle_r img{
    position: relative;
    top: 4px;
    height: 15px;
    width: 16px;
}
.circle_l img{position: relative;
    top: 4px;
    height: 15px;
    width: 16px;}

.Pick-and-feed h2 {
     position: absolute;
     top: 7rem;
     right: 43rem;
    text-align: center;
    color: #fe9013;
text-align: center;}

    .Pick-and-feed a{
        color: #333B41;
        border-bottom: 1px solid;
        border-color: #E47209;
        font-style: normal;
        font-weight: 400;
    font-size: 16px;
    line-height: 22,4px;
    }
.form h4{margin-top: -1rem;
    padding-bottom: 40px;
    text-align: justify;
}
    .form{display: grid;
        grid-template-columns:1;
        padding-top: 69px;
        padding-bottom: 100px;
        margin: 0 auto;
        align-items: center;
        width: 1159px;
        background-color:  rgba(253, 253, 255, 0.52);
        border-radius: 16px;
        margin-top: 32px;
        padding-left: 99px;
        padding-bottom: 312px;
    }
    .bold{
font-weight: 500;
font-size: 16px;
padding-bottom: 10px;
line-height: 20.8px;
    }


.box{position: absolute;
    padding-top: 41px;
    width: 100%;
    height: 1004px;
    background:   linear-gradient(
        315.75deg,
        rgba(254, 210, 144, 0.7) 30.06%,
        #febdab 100.95%,
        rgba(254, 210, 144, 0.7) 106.36%
      );
    backdrop-filter: blur(2px);
    opacity: 90%;

}

.Pick-and-feed h3{ padding-top: 60px;
    font-size: 36px;
    line-height: 47px;
    font-weight: 400;
    text-align: center;
    position: relative;
    right: 3.5rem;
    color: #333B41;
}

.Pick-and-feed .my_button{
    position: relative;
   top: 16rem;
   left: 21.5rem;
}
